<p>
	Welcome to the ECS problem report handling system. If you are experiencing a problem please search our database for a related issue as there might be a solution that can be used to assist you with your problem.

	<br/>
	<br/>

	If you can't find a solution, please fill out a ticket and our staff will reach out as soon as possible to assist you.

</p>

<%= link_to 'Search for Solution', new_problem_report_record_path %>
<%= link_to 'Submit a Ticket', new_problem_report_record_path %>

<br/>

<%= link_to 'Go To Users (Development Only)', users_path %>