<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Ecs staff have begun working on your ticket</h1>
    <p>
      Ecs staff member, <%= @userName %>, has begun working on your ticket,<%=  @ticketSubject %>, at <%=  @startTime %><br/>
    </p>
    <br/>
    [<%= @ticketId %>]
  </body>
</html>