<h1>Listing problem_report_records</h1>
<div id="maintable">
<%= render :partial =>"infotable", :locals => {:problem_report_records => @reports_worked_on, :action => workingOnPath} %>
</div>
<div id="second">
<%= render :partial =>"infotable", :locals => {:problem_report_records => @all_reports, :action => secondPath} %>
</div>
<br />

<%= hidden_field_tag 'page', '1' %>
<%= link_to 'New Problem report record', new_problem_report_record_path %>

<script type="text/javascript">
$(document).ready(function()
    {
        $(document).on("click",'.pagination a',function($e)
        {
            $.getScript(this.href);
           
            return false;
        })
    });

</script>
