/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "problem_report_records";

$blue: #1A82F7;
$dark: #2F2727;

body {
  background-color: $blue;
  color: $dark;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: $blue;
  }
}

// links of this class have the button look
.button {
  @include button;
}

// form submission has the button look
.actions {
  input {
    @include button;
  }
}

#content {
  width: 80em;
  margin: 0px auto;
  background-color: white;
  padding: 1em;
  border: 3px solid lighten($dark, 20%);
}

@mixin header-links($bgcolor, $maxwidth) {
  padding: 3px;
  background-color: $bgcolor;
  text-align: center;
  max-width: $maxwidth;
  margin: 0px auto;
  color: white;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      background-color: lighten($bgcolor, 25%);
      color: $dark;
    }
  }
}

#links {
  @include header-links(darken($blue, 5%), 50em);
}

#links-two
{
  @include header-links($blue, 35em);
}

.box-shadow
{
  box-shadow: 2px 2px 2px lighten($dark, 40%);
}

.float_field
{
  float: left;
}

#banner {
  background-color: darken($blue, 10%);
  padding: 1em;
  color: white;
  clear: both;
  text-align: center;
}
