/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.banner
{
	background-color:blue;
	padding: 1em;
	color:white;
	clear:both;
	text-align: center;
}

body
{
	
  	 /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1a82f7), to(#2F2727));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #2F2727, #1a82f7);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #2F2727, #1a82f7);
  
  /* IE 10 */
  background: -ms-linear-gradient(left, #2F2727, #1a82f7);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #2F2727, #1a82f7);
}

#content
{
	width:60em;
	margin: 0px auto;
	background-color:white;
	padding:1em;
}

#links
{
	text-align:center;
	max-width:50em;
	margin:0px auto;
	background-color:#1975FF;
	color:white;
	
	a
	{
		color:white;
		text-decoration:none;
	}
}

#links-two
{
	text-align:center;
	max-width:35em;
	margin:0px auto;
	background-color:#9EBFFF;
	color:white;
	
	a
	{
		color:white;
		text-decoration:none;
	}
}

.box-shadow
{
	box-shadow: 2px 2px 2px #888888;
}

